/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");

/* VARIABLES */
:root {
  --green-gradient: linear-gradient(180deg, #8fe388 0%, #cbff49 100%);
  --red-gradient: linear-gradient(180deg, #ff6b6b 0%, #ffc185 100%);
  --red-gradient-overlay: linear-gradient(180deg, #ff6b6b 0%, #ffb3b3 100%);
  --blue-gradient: linear-gradient(180deg, #7b8cde 0%, #a7a7a7 100%);
  --greeen: #8fe388;
  --brown-light: #d9c8a5;
  --brown-extra-light: rgba(217, 200, 165, 0.1);
  --red: #ff6b6b;
  --red-hover: #f34b4b;
  --blue: #7b8cde;
  --blue-dark: #3a405a;
  --blue-dark-light: rgba(58, 64, 90, 0.9);
  --blue-dark-hover: #3a59f1;
  --light-brown: rgba(217, 200, 165, 0.15);
  --light-white: rgba(255, 255, 255, 0.25);
  --shadow-neomorph-1: 1px 1px 2px rgba(255, 255, 255, 0.3),
    -1px -1px 2px rgba(220, 220, 220, 0.5),
    inset -1px 1px 2px rgba(220, 220, 220, 0.2),
    inset 1px -1px 2px rgba(220, 220, 220, 0.2),
    inset -1px -1px 2px rgba(255, 255, 255, 0.9),
    inset 1px 1px 3px rgba(220, 220, 220, 0.9);
  --shadow-neomorph-2: -5px 5px 10px rgba(229, 229, 229, 0.2),
    5px -5px 10px rgba(229, 229, 229, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(229, 229, 229, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(229, 229, 229, 0.5);
  --shadow-neomorph-3: -2px 2px 10px rgba(229, 229, 229, 0.1),
    2px -2px 10px rgba(229, 229, 229, 0.1),
    -2px -2px 10px rgba(255, 255, 255, 0.9),
    2px 2px 13px rgba(229, 229, 229, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.1),
    inset -1px -1px 2px rgba(229, 229, 229, 0.1);
  --shadow-neomorph-4: -5px 5px 10px rgba(230, 230, 230, 0.2),
    5px -5px 10px rgba(230, 230, 230, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(230, 230, 230, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  --shadow-neomorph-5: -2px 2px 4px rgba(102, 102, 102, 0.2),
    2px -2px 4px rgba(102, 102, 102, 0.2),
    -2px -2px 4px rgba(255, 255, 255, 0.9), 2px 2px 5px rgba(102, 102, 102, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(102, 102, 102, 0.5);
  --base-min-font-size: 8px;
  --base-max-font-size: 16px;
  --radius: 12.5px;
  --card-height: 35rem;
  --card-width: 100%;
}

@media screen and (min-width: 320px) {
  :root {
    font-size: calc(var(--base-font-size) + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 768px) {
  :root {
    font-size: var(--base-max-font-size);
  }
}

/* GENERAL TYPOS */

*{
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  line-height: 150%;
  color: var(--blue-dark);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

h4 {
  font-size: 1.5rem;
  font-weight: normal;
}

h5 {
  font-size: 1rem;
  font-weight: normal;
}

p,
ol,
ul,
li,
a,
button,
figure,
caption,
input,
textarea,
select,
option,
label,
span,
div {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 125%;
  color: var(--blue-dark);
}

textarea {
  border-width: 1px;
  padding: 1rem;
  border-style: solid;
  border-color: var(--blue-dark-light);
}

.font-blue-dark-light {
  color: var(--blue-dark-light);
}

.font-sm {
  font-size: 0.85rem;
}

/* BACKGROUNDS */

/* BG GRADIENTS */

.bg-green-gradient {
  background: var(--green-gradient);
}

.bg-red-gradient {
  background: var(--red-gradient);
}

.bg-red-gradient-overlay {
  background: var(--red-gradient-overlay);
}
.bg-blue-gradient {
  background: var(--blue-gradient);
}

/* BG ABSTRACT */

.bg-abstractform {
  background-image: url(../backgrounds/abstract-background-blue.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* BG COLORS */

.bg-red {
  background-color: var(--red);
}
.bg-green {
  background-color: var(--greeen);
}
.bg-blue-dark {
  background-color: var(--blue-dark);
}

.bg-blue-dark:hover {
  background-color: var(--blue-dark-hover);
}

.bg-blue {
  background-color: var(--blue);
}
.bg-light-brown {
  background-color: var(--light-brown);
}

.bg-light-white {
  background-color: var(--light-white);
}

/* BORDERS */

.border-red {
  border: 2px solid var(--red);
}

.border-red:hover {
  border: 2px solid var(--red-hover);
}

.border-blue-dark {
  border: 2px solid var(--blue-dark);
}

.border-blue-dark:hover {
  border: 2px solid var(--blue-dark-hover);
}

.border-blue-dark-light {
  border: 2px solid var(--blue-dark-light);
}

/* BG IMAGE */

.bg-man,
.bg-start-to-grow,
.bg-plants {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-man {
  background-image: url(../backgrounds/man.jpg);
}

.bg-start-to-grow {
  background-image: url(../backgrounds/start_to_grow.jpg);
}

/* INPUTS SELECT */

select, input[type='text'], input[type='number']{
  -webkit-appearance: none;
}
select {
  border-bottom: 1px solid var(--blue-dark-light);
  border-top: 1px solid var(--blue-dark-light);
}
.prepend,
.append {
  border: 1px solid var(--blue-dark-light);
}

input,
select {
  height: 2.5rem;
}

input {
  border-bottom: 1px solid var(--blue-dark-light);
  transition: background-color 0.1s ease-in-out;
}

select {
  appearance: none;
}

input:focus,
textarea:focus {
  background-color: var(--brown-extra-light);
}

input:focus {
  border-bottom: 2px solid var(--brown-light);
  padding-left: 1rem;
}

/* ALERTS */
.alert.danger p {
  color: #db4437;
}

.alert.success p {
  color: #76906a;
}

/* BUTTONS */

.btn {
  cursor: pointer;
  transition: background-color 0.33s ease-in-out;
}
button {
  border-radius: 5px;
}
button.btn-lg {
  height: 75px;
  border-radius: var(--radius);
}

/* garden create form */
.garden-toogle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toogleSwitch,
.toogleSwitch input {
  width: 4rem;
  height: 2rem;
}
.toogleSwitch {
  background-color: #f5f5f5;
  border-radius: 27.5px;
  position: relative;
  display: flex;
  align-items: center;
}

.toogleSwitch .switch {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--red);
  margin: 5px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.toogleSwitch input {
  position: absolute;
  border-bottom: none;
  background-color: unset;
  appearance: none;
  cursor: pointer;
  z-index: 500;
}

input:checked + .switch {
  transform: translateX(2rem);
  background-color: var(--greeen);
}

/* NAVBAR */

nav .nav-brand {
  height: 4rem;
  width: 10rem;
}

.nav-link {
  height: 2rem;
  width: 2rem;
}

/* HOME PAGE */

#search {
  background-image: url(../icons/search.svg);
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 2.5rem;
}

#search:focus {
  padding-left: 3rem;
}

.radius {
  border-radius: var(--radius);
}

.shadow-neomorph-1 {
  box-shadow: var(--shadow-neomorph-1);
}

/* AVATARS */

.suggestion-avatar,
.suggestion-avatar-half {
  padding: 2px;
}

.suggestion-avatar,
.suggestion-avatar .avatar-img,
.suggestion-avatar-half,
.suggestion-avatar-half .avatar-img {
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .suggestion-avatar {
    height: 150px;
    width: 150px;
  }

  .suggestion-avatar .avatar-img {
    height: 125px;
    width: 125px;
  }

  .suggestion-avatar-half {
    height: 37px;
    width: 37px;
  }

  .suggestion-avatar-half .avatar-img {
    height: 31px;
    width: 31px;
  }
}

@media screen and (max-width: 768px) {
  .suggestion-avatar {
    height: 75px;
    width: 75px;
  }

  .suggestion-avatar .avatar-img {
    height: 62.5px;
    width: 62.5px;
  }

  .suggestion-avatar-half {
    height: 37.5px;
    width: 37.5px;
  }

  .suggestion-avatar-half .avatar-img {
    height: 31px;
    width: 31px;
  }
}

.suggestion-avatar,
.suggestion-avatar-half {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--red-gradient);
}

.suggestion-avatar .avatar-img,
.suggestion-avatar-half .avatar-img {
  background-color: #f5f5f5;
}

.carousel-next::before {
  background-image: url(../icons/next_arrow.svg);
}

.carousel-prev::before {
  background-image: url(../icons/prev_arrow.svg);
}

/* CARDS */
.card {
  height: var(--card-height);
  width: var(--card-width);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  cursor: pointer;
  box-shadow: var(--shadow-neomorph-3);
  border-radius: var(--radius);
}

.card:hover {
  box-shadow: var(--shadow-neomorph-2);
}

.card-image,
.card-footer {
  width: 100%;
  position: relative;
}

.card-image {
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-footer {
  height: 30%;
  background-color: #ffff;
}

.garden-datas {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}

/* POST CARD */

.post-card,
.testimony-card {
  background-color: #ffff;
  box-shadow: var(--shadow-neomorph-4);
  border-radius: var(--radius);
}

/* CARD INDICATOR */

.card-indicator {
  box-shadow: var(--shadow-neomorph-5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 150px;
  border-radius: var(--radius);
  cursor: pointer;
}

/* CARD DATA UPON CARD IMAGE */

.icon-data {
  height: 55px;
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border-radius: 50%;
}

.data-container {
  display: flex;
  align-items: center;
}

.data-container .data {
  display: none;
}

.data-container:hover .data {
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
  display: flex;
}

/* CHECKBOX GROUP */

.checkbox-group {
  min-width: 5rem;
  margin-right: 1rem;
}

.h-66vh {
  height: 66vh;
}

/* gardenform dropzone */
.gardenDropzone {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--light-white);
  z-index: 2;
}
.realDropzone {
  top: 20%;
  border: dotted var(--light-white) 3px;
  border-radius: var(--radius);
}
.realDropzone:hover {
  cursor: pointer;
  border: dotted white 3px;
  transition: 0.3s ease-in-out;
}
.imagePreview {
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  position: absolute;
}

.imagePreview * {
  height: 100%;
  width: 100%;
}

/*  ICONS  */

.iconHeart,
.iconComment {
  cursor: pointer;
}

/* ANIMATIONS */

.hover-animate-bounce:hover {
  animation: bounce 1s infinite;
}

/*
SLIDER */

.rc-slider-track {
  background-color: var(--blue-dark-light);
}
.rc-slider-dot-active {
  border-color: var(--blue-dark-light);
}
.rc-slider-handle {
  border: solid 2px var(--blue-dark-light);
}

/* MODAL */

#modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  z-index: 1000;
}
.min-h-80vh {
  min-height: 90vh;
}


/* CALENDAR */

.rbc-event{
  background-color:var(--greeen)
}