/* FONT IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&display=swap");

/* VARIABLES */
:root {
  --green-gradient: linear-gradient(180deg, #8fe388 0%, #cbff49 100%);
  --red-gradient: linear-gradient(180deg, #ff6b6b 0%, #ffc185 100%);
  --red-gradient-overlay: linear-gradient(180deg, #ff6b6b 0%, #ffb3b3 100%);
  --blue-gradient: linear-gradient(180deg, #7b8cde 0%, #a7a7a7 100%);
  --greeen: #8fe388;
  --brown-light: #d9c8a5;
  --brown-extra-light: rgba(217, 200, 165, 0.1);
  --red: #ff6b6b;
  --red-hover: #f34b4b;
  --blue: #7b8cde;
  --blue-dark: #3a405a;
  --blue-dark-light: rgba(58, 64, 90, 0.9);
  --blue-dark-hover: #3a59f1;
  --light-brown: rgba(217, 200, 165, 0.15);
  --light-white: rgba(255, 255, 255, 0.25);
  --shadow-neomorph-1: 1px 1px 2px rgba(255, 255, 255, 0.3),
    -1px -1px 2px rgba(220, 220, 220, 0.5),
    inset -1px 1px 2px rgba(220, 220, 220, 0.2),
    inset 1px -1px 2px rgba(220, 220, 220, 0.2),
    inset -1px -1px 2px rgba(255, 255, 255, 0.9),
    inset 1px 1px 3px rgba(220, 220, 220, 0.9);
  --shadow-neomorph-2: -5px 5px 10px rgba(229, 229, 229, 0.2),
    5px -5px 10px rgba(229, 229, 229, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(229, 229, 229, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(229, 229, 229, 0.5);
  --shadow-neomorph-3: -2px 2px 10px rgba(229, 229, 229, 0.1),
    2px -2px 10px rgba(229, 229, 229, 0.1),
    -2px -2px 10px rgba(255, 255, 255, 0.9),
    2px 2px 13px rgba(229, 229, 229, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.1),
    inset -1px -1px 2px rgba(229, 229, 229, 0.1);
  --shadow-neomorph-4: -5px 5px 10px rgba(230, 230, 230, 0.2),
    5px -5px 10px rgba(230, 230, 230, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 0.9),
    5px 5px 13px rgba(230, 230, 230, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(230, 230, 230, 0.5);
  --shadow-neomorph-5: -2px 2px 4px rgba(102, 102, 102, 0.2),
    2px -2px 4px rgba(102, 102, 102, 0.2),
    -2px -2px 4px rgba(255, 255, 255, 0.9), 2px 2px 5px rgba(102, 102, 102, 0.9),
    inset 1px 1px 2px rgba(255, 255, 255, 0.3),
    inset -1px -1px 2px rgba(102, 102, 102, 0.5);
  --base-min-font-size: 8px;
  --base-max-font-size: 16px;
  --radius: 12.5px;
  --card-height: 35rem;
  --card-width: 100%;
}

@media screen and (min-width: 320px) {
  :root {
    font-size: calc(var(--base-font-size) + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 768px) {
  :root {
    font-size: var(--base-max-font-size);
  }
}

/* REMOVE OUTLINE ON FOCUS */
button:focus, input:focus{
  outline: none;
}


// GENERAL UTILITIES

.h-66vh {
  height: 66vh;
}

.radius {
  border-radius: var(--radius);
}

.shadow-neomorph-1 {
  box-shadow: var(--shadow-neomorph-1);
}


/* GENERAL TYPOS */

*, *:focus{
  outline: 0;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato", sans-serif;
  line-height: 150%;
  color: var(--blue-dark);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 300;
}

h4 {
  font-size: 1.5rem;
  font-weight: normal;
}

h5 {
  font-size: 1rem;
  font-weight: normal;
}

p,
ol,
ul,
li,
a,
button,
figure,
caption,
input,
textarea,
select,
option,
label,
span,
div {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 125%;
  color: var(--blue-dark);
}

.font-blue-dark-light {
  color: var(--blue-dark-light);
}

.font-sm {
  font-size: 0.85rem;
}

/* BACKGROUNDS */

/* BG GRADIENTS */

.bg-green-gradient {
  background: var(--green-gradient);
}

.bg-red-gradient {
  background: var(--red-gradient);
}

.bg-red-gradient-overlay {
  background: var(--red-gradient-overlay);
}
.bg-blue-gradient {
  background: var(--blue-gradient);
}

/* BG ABSTRACT */

.bg-abstractform {
  background-image: url(../backgrounds/abstract-background-blue.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* BG COLORS */

.bg-red {
  background-color: var(--red);
}
.bg-green {
  background-color: var(--greeen);
}
.bg-blue-dark {
  background-color: var(--blue-dark);
}

.bg-blue-dark:hover {
  background-color: var(--blue-dark-hover);
}

.bg-blue {
  background-color: var(--blue);
}
.bg-light-brown {
  background-color: var(--light-brown);
}

.bg-light-white {
  background-color: var(--light-white);
}

/* BORDERS */

.border-red {
  border: 2px solid var(--red);
}

.border-red:hover {
  border: 2px solid var(--red-hover);
}

.border-blue-dark {
  border: 2px solid var(--blue-dark);
}

.border-blue-dark:hover {
  border: 2px solid var(--blue-dark-hover);
}

.border-blue-dark-light {
  border: 2px solid var(--blue-dark-light);
}

/* BG IMAGE */

.bg-man,
.bg-start-to-grow,
.bg-plants {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-man {
  background-image: url(../backgrounds/man.jpg);
}

.bg-start-to-grow {
  background-image: url(../backgrounds/start_to_grow.jpg);
}

/* INPUTS SELECT */

input,
select {
  height: 2.5rem;
}

input {
  border-bottom: 1px solid var(--blue-dark-light);
  transition: background-color 0.1s ease-in-out;
}

select {
  appearance: none;
}

input:focus,
textarea:focus {
  background-color: var(--brown-extra-light);
}

input:focus {
  border-bottom: 2px solid var(--brown-light);
  padding-left: 1rem;
}

/* BUTTONS */

.btn {
  cursor: pointer;
  transition: background-color 0.33s ease-in-out;
}
button {
  border-radius: 5px;
}
button.btn-lg {
  height: 75px;
  border-radius: var(--radius);
}

/* garden create form */
.garden-toogle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toogleSwitch,
.toogleSwitch input {
  width: 4rem;
  height: 2rem;
}
.toogleSwitch {
  background-color: #f5f5f5;
  border-radius: 27.5px;
  position: relative;
  display: flex;
  align-items: center;
}

.toogleSwitch .switch {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  background-color: var(--red);
  margin: 5px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.toogleSwitch input {
  position: absolute;
  border-bottom: none;
  background-color: unset;
  appearance: none;
  cursor: pointer;
  z-index: 500;
}

input:checked + .switch {
  transform: translateX(2rem);
  background-color: var(--greeen);
}

/* CARDS */
.card {
  height: var(--card-height);
  width: var(--card-width);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
  cursor: pointer;
  box-shadow: var(--shadow-neomorph-3);
  border-radius: var(--radius);
}

.card:hover {
  box-shadow: var(--shadow-neomorph-2);
}

.card-image,
.card-footer {
  width: 100%;
  position: relative;
}

.card-image {
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-footer {
  height: 30%;
  background-color: #ffff;
}

.garden-datas {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}


/* gardenform dropzone */
.gardenDropzone {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--light-white);
  z-index: 2;
}
.realDropzone {
  top: 20%;
  border: dotted var(--light-white) 3px;
  border-radius: var(--radius);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.realDropzone:hover {
  cursor: pointer;
  border: dotted white 3px;
  transition: 0.3s ease-in-out;
}
.imagePreview {
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  position: absolute;
}

.imagePreview * {
  height: 100%;
  width: 100%;
}

/*  ICONS  */

.iconHeart,
.iconComment {
  cursor: pointer;
}

/* ANIMATIONS */

.hover-animate-bounce:hover {
  animation: bounce 1s infinite;
}

/*
SLIDER */

.rc-slider-track {
  background-color: var(--blue-dark-light);
}
.rc-slider-dot-active {
  border-color: var(--blue-dark-light);
}
.rc-slider-handle {
  border: solid 2px var(--blue-dark-light);
}

/*
PROFILE */
#user-informations {
  width: 600px;
  min-width: 300px;
  margin-top: 12vh;
  padding-bottom: 4vh;
  overflow: visible;
}
#user-informations div.img {
  display: grid;
  cursor: pointer;
}
#user-informations .avatar-img {
  grid-column: 1;
  grid-row: 1;
  border-radius: 50%;
  padding: 2px;
  height: 200px;
  width: 200px;
  transform: translateY(-70px);
  background: var(--red-gradient);
  padding: 10px;
  transition: all 200ms 100ms ease;
}
#user-informations #picture-img {
  display: grid;
  transform: translateY(-70px);
  margin: auto;
  z-index: 2;
  opacity: 0%;
  grid-column: 1;
  grid-row: 1;
  width: 70px;
  transition: all 200ms 100ms ease;
}
#user-informations #picture-img img {
  cursor: pointer;
  grid-column: 1;
  grid-row: 1;
}
#user-informations #picture-img input {
  padding-top: 15px;
  cursor: pointer;
  opacity: 0%;
  grid-column: 1;
  grid-row: 1;
}
#user-informations div.img:hover .avatar-img{
  transform: translateY(-80px);
  filter: brightness(70%);
}
#user-informations div.img:hover #picture-img{
  transform: translateY(-80px);
  opacity: 100%;
}
#user-informations  h1 {
  font-size: 30px;
  transform: translateY(-40px );
}
#user-informations form input {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 15px;
  border-top: 3px solid #F6DCA2;
  border-left: 3px solid #F6DCA2;
  border-bottom: none;
  border-radius: 2px;
  background-color: #f7e9c9;
  color: #3A405A;
}
#user-informations form button {
  margin-top: 30px;
  padding: 10px;
}
#user-informations form button#delete-profile {
  border: 1px solid #FF6B6B;
  border-radius: 4px;
  color:  #FF6B6B;
  transition: all 100ms 200ms ease;
}
#user-informations form button#delete-profile:hover {
  color: white;
  background-color: #FF6B6B;
}
#user-informations form button#edit-profile {
  border-radius: 4px;
  background-color:  #3A405A;
  color: white;
  transition: all 200ms 100ms ease-in-out;
}
#user-informations form button#edit-profile:hover {
  transform: scale(1.05);
}
#followed-gardens {
  margin-top: 4vh;
  width: 600px;
  min-width: 300px;
}
#followed-gardens div.gardens{
  max-height: 700px;
}
#followed-gardens h1 {
  font-size: 20px;
  margin-left: 15px;
}
#user-gardens {
  margin-top: 4vh;
  width: 600px;
  min-width: 300px;
}
#user-gardens div.gardens{
  max-height: 700px;
}
#user-gardens h1 {
  font-size: 20px;
}
#user-gardens a#create-garden {
  padding: 10px;
  border: 1px solid #615C5F;
  border-radius: 4px;
  color:  #615C5F;
  transition: all 100ms 200ms ease;
}
#user-gardens a#create-garden:hover {
  color: white;
  background-color: #615C5F;
}
#user-posts {
  margin-top: 4vh;
  width: 600px;
  min-width: 300px;
}
#user-posts div.posts{
  max-height: 700px;
}
#user-posts h1 {
  font-size: 20px;
}

/* MODAL */

#modal {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  z-index: 1000;
}
.min-h-80vh {
  min-height: 90vh;
}


/* CALENDAR */

.rbc-event{
  background-color:var(--greeen)
}

/* CONCEPT PAGE */
body {
  overflow-x: hidden;
}
div.concept-page {
  padding: 5%;
  padding-bottom: 0;
}
div.concept-page img.background1 {
  max-width: 550px;
  opacity: 70%;
  margin-left: auto;
  margin-right: auto;
}
div.concept-page .main-btn {
  margin-top: 5%;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto  ;
  max-width: 250px;
  border: 1px solid #ff6b6b;
  border-radius: 40px;
  color: #ff6b6b;
  transition: all 200ms 100ms ease;
}
div.concept-page .main-btn:hover {
  color: white;
  background-color: #ff6b6b;
}
div.concept-page .secondary-btn {
  margin-top: 5%;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto  ;
  max-width: 250px;
  border-radius: 40px;
  border: 1px solid #a5da9e;
  color: #a5da9e;
  transition: all 200ms 100ms ease;
}
div.concept-page .secondary-btn:hover {
  color: white;
  background-color: #a5da9e;
}
div.concept-page #section1 img {
  animation: 900ms ease-in-out 0s 1 slideInLeft;
  cursor: pointer;
  max-width: 800px;
  min-width: 400px;
  transition: all 200ms 100ms ease;
}
div.concept-page #section1 div#main-text {
  animation: 900ms ease-in-out 0s 1 slideInRigth;
}
div.concept-page #section1 div#main-text h1 {
  letter-spacing: -.02em;
  font-size: 3rem;
}
div.concept-page #section1 div#main-text p {
  max-width: 600px;
  margin-top: 20px;
}
div.concept-page #section2 img.card-img {
  width: auto;
}
div.concept-page #section2 div.concept-card {
  transition: all 200ms 100ms ease;
}
div.concept-page #section2 div.concept-card:hover {
  transform: translateY(-10px);
}
div.concept-page #section2 {
  animation: 2s ease-in-out 0s 1 slideUp;
  padding: 4rem;
}
div.concept-page #section2 div.concept-card{
  cursor: pointer;
  padding: 1rem;
  max-width: 300px;
  min-width: 250px;
  margin: 4rem;
  border-radius: 5%;
  border-top: 5px solid #b7ebbb;
}
div.concept-page #section3 {
  animation: 3s ease-in 0s 1 slideInLeft;
  padding: 6rem;
  width: 100vw;
  margin: none;
  margin-left: -6%;
}
div.concept-page #section3 img {
  cursor: pointer;
  max-width: 450px;
  min-width: 400px;
}
div.concept-page #section3 div.section-text {
  max-width: 600px;
  min-width: 200px;
}
div.concept-page #section3 div.section-text a {
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem;
  max-width: 200px;
  margin-top: 50px;
  border: 2px solid #f88d52;
  color: #f88d52;
  border-radius: 5px;
  transition: all 200ms 100ms ease;
}
div.concept-page #section3 div.section-text a:hover {
  transform: translateY(-5px);
  color: white;
  background-color: #f88d52;
}
div.concept-page #section4 {
  animation: 4s ease-in 0s 1 slideInRigth;
  padding: 6rem;
  width: 100vw;
  margin: none;
  margin-left: -6%;
}
div.concept-page #section4 img {
  cursor: pointer;
  margin-top: 3%;
  max-width: 450px;
  min-width: 400px;
}
div.concept-page #section4 div.section-text {
  max-width: 600px;
  min-width: 200px;
}
div.concept-page #section4 div.section-text a {
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem;
  max-width: 200px;
  margin-top: 50px;
  border: 2px solid #72af77;
  color: #72af77;
  border-radius: 5px;
  transition: all 200ms 100ms ease;
}
div.concept-page #section4 div.section-text a:hover {
  transform: translateY(-5px);
  color: white;
  background-color: #72af77;
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  50% {
    opacity: 10%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideInRigth {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }
  50% {
    opacity: 10%;
  }
  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  50% {
    opacity: 30%;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

