.card-indicator {
    box-shadow: var(--shadow-neomorph-5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: var(--radius);
    cursor: pointer;
}
