.rc-slider-track {
    background-color: var(--blue-dark-light);
}
.rc-slider-dot-active {
    border-color: var(--blue-dark-light);
}
.rc-slider-handle {
    border: solid 2px var(--blue-dark-light);
}
