/* Here some scss code ready to paste! */

// ==== Fancy colors ==============================================

// ---- Grey -----------------------
$sweet-white: #fdfdfd;
$pale-grey: rgb(207, 207, 207);
$blue-grey: #131d27;
$dark-blue-grey: #0d141b;
$dark-grey: rgba(0,0,0,.2);

// ---- Red ---- -------------------
$primary-red: rgb(230, 29, 29);
$cherry: rgb(177, 14, 41);

// ---- Blue -----------------------
$pale-blue: rgb(107, 157, 172);
$sky-blue: rgb(18, 146, 206);
$primary-blue: rgb(25, 106, 212);
$classic-blue: rgb(7, 61, 160);
$deep-blue: rgb(13, 33, 148);



// ==== Fancy homemade components ==================================

// ---- Forms ------------------------------------------
form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: center;

  input {
    border: none;
    border-radius: 3px;
    background-color: fancy_color;
    color: another_fancy_color;
    width: 400px;
    margin: auto;
    margin-bottom: 15px;
    transition: all 200ms 100ms ease-out;
    padding: 8px;

    &:focus {
      border: 1px solid again_another_fancy_color;
      transform: scale(1.05);
    }
  }
}

// ----- Buttons ----------------------------------------
.btn-primary {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-color: fancy_color;
  color: another_fancy_color;
  width: 100px;
  padding: 5px;
  transition: all 200ms 100ms ease-in;

  &:hover {
    transform: scale(1.05);
    filter: contrast(1.2);
    color: again_another_fancy_color;
  }
}

.btn-secondary {
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid fancy_color;
  border-radius: 20px;
  background-color: transparent;
  color: fancy_color;
  width: 100px;
  padding: 5px;
  transition: all 200ms 100ms ease-in;

  &:hover {
    background-color: another_fancy_color;
    border-color: another_fancy_color;
    filter: contrast(1.2);
    color: again_another_fancy_color;
  }
}

// ---- Cards ------------------------------------------------
.card {
  box-shadow: 1em 1em 2em rgba(0,0,0,.2);
  margin: 30px;
  border-radius: 20px;
  padding: 20px;
  width: 200px;
  height: auto;
  transition: transform 300ms 50ms ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
}